.navbar-toggle:hover{
  border: none !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}

nav a {

  font-family: "arial black" !important;
  color: white !important;
}

nav {
  background: linear-gradient(#FF3333, #991111) !important;
  background: -webkit-linear-gradient(#FF3333, #991111) !important;

}

nav a:first-child:hover{
  background-color: rgba(0,0,0, .25) !important;
}

.icon-bar {
  background-color: white !important;
}

.navbar-toggle{
  border: none !important;
}
