nav a {

  font-family: "arial black" !important;
  color: white !important;
}

nav {
  background: linear-gradient(#FF3333, #991111)  !important;
}

li:hover {
  background-color: rgba(0,0,0, .15) !important;
}

.icon-bar {
  background-color: white !important;
}

.navbar-toggle{
  border: none !important;
}
