body {
	font-family: "arial-black", "arial black";
	background-color: #AA0E20;
}


#locationSelection {
	font-size: 1.5em;
	text-align: center;
	margin-top: 5em;
}

#orderArea1 {
	margin-top: 5em;
	margin-bottom: 5em;
}

#orderArea2 {
	margin-bottom: 5em;
}


#orderArea1 h1 {
	font-size: 1.4em;
	padding: 1em;
	margin: 0;
	color: white;
	background-color: #AA0E20;
	text-align: center;
}

#orderArea1 h1:hover {
	background-color: white;
	color: black;
}

.itemNames, .ingredientNames {
	display: inline;
	padding-left: 0.5em;
	color: white;
}


@media screen and (max-width: 767px) {
	#orderArea1 h1 {
		font-size: 5vw;
	}
	
	.menuItem, .ingredientItem {
		padding-left: 25vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
	}
	
	.itemNames, .ingredientNames {
		font-size: 4vw;
	}
	
	.itemOptions {
		width: 1.5em;
		vertical-align: -0.25em;
		display: inline-block:
	}
	
	.ingredientCheckBoxes {
		margin-left: -0.4em;
		width: 2em;
		vertical-align: -0.5em;
		display: inline-block;
	}
	
	.one-button-order {
		margin-left: 25vw;
		margin-right: 25vw;
		width: 50vw;
		font-size: 5vw;
	}
	
	.two-buttons-order {
		margin-top: 10vw;
		margin-left: 25vw;
		margin-right: 25vw;
		margin-bottom: 3vw;
		width: 50vw;
		font-size: 5vw;
	}
	
	.two-buttons-custom {
		margin-left: 10vw;
		margin-right: 10vw;
		margin-bottom: 10vw;
		width: 80vw;
		font-size: 5vw;
	}
}

@media screen and (min-width: 768px) {
	#orderArea1 h1 {
		font-size: 4vw;
	}
	
	.menuItem, .ingredientItem {
		padding-left: 8vw;
		padding-top: 2vw;
		padding-bottom: 2vw;
	}
	
	.itemNames, .ingredientNames {
		font-size: 3vw;
	}
	
	.itemOptions {
		width: 1.5em;
		vertical-align: -0.25em;
		display: inline-block:
	}
	
	.ingredientCheckBoxes {
		margin-left: -0.4em;
		width: 2em;
		vertical-align: -0.5em;
		display: inline-block;
	}
	
	.one-button-order {
		margin-left: 30vw;
		margin-right: 30vw;
		width: 40vw;
		font-size: 4vw;
	}
	
	.two-buttons-order {
		margin-top: 10vw;
		margin-left: 32.5vw;
		margin-right: 32.5vw;
		margin-bottom: 3vw;
		width: 35vw;
		font-size: 3.5vw;
	}
	
	.two-buttons-custom {
		margin-left: 20vw;
		margin-right: 20vw;
		margin-bottom: 10vw;
		width: 60vw;
		font-size: 3.5vw;
	}
}

@media screen and (min-width: 992px) {
	#orderArea1 h1 {
		font-size: 3vw;
	}
	
	.menuItem, .ingredientItem {
		padding-left: 10vw;
		padding-top: 1.5vw;
		padding-bottom: 1.5vw;
	}
	
	.itemNames, .ingredientNames {
		font-size: 2.25vw;
	}
	
	.itemOptions {
		width: 1.75em;
		vertical-align: -0.25em;
		display: inline-block;
	}
	
	.ingredientCheckBoxes {
		margin-left: -0.7em;
		width: 2.5em;
		vertical-align: -0.55em;
		display: inline-block;
	}
	
	.one-button-order {
		margin-left: 35vw;
		margin-right: 35vw;
		width: 30vw;
		font-size: 3vw;
	}
	
	.two-buttons-order {
		margin-top: 10vw;
		margin-left: 11vw;
		margin-right: 5.5vw;
		margin-bottom: 10vw;
		width: 25vw;
		font-size: 2.5vw;
	}
	
	.two-buttons-custom {
		margin-top: 10vw;
		margin-left: 5.5vw;
		margin-right: 11vw;
		margin-bottom: 10vw;
		width: 40vw;
		font-size: 2.5vw;
	}
}

@media screen and (min-width: 1200px) {
	#orderArea1 h1 {
		font-size: 2.5vw;
	}
	
	.menuItem, .ingredientItem {
		padding-left: 5vw;
		padding-top: 1.5vw;
		padding-bottom: 1.5vw;
	}
	
	.itemNames, .ingredientNames {
		font-size: 2vw;
	}
	
	.itemOptions {
		width: 1.75em;
		vertical-align: -0.25em;
		display: inline-block:
	}
	
	.ingredientCheckBoxes {
		margin-left: -0.7em;
		width: 2.5em;
		vertical-align: -0.55em;
		display: inline-block;
	}
	
	.one-button-order {
		margin-left: 37.5vw;
		margin-right: 37.5vw;
		width: 25vw;
		font-size: 2.5vw;
	}
	
	.two-buttons-order {
		margin-top: 10vw;
		margin-left: 11vw;
		margin-right: 5.5vw;
		margin-bottom: 10vw;
		width: 25vw;
		font-size: 2.5vw;
	}
	
	.two-buttons-custom {
		margin-top: 10vw;
		margin-left: 5.5vw;
		margin-right: 11vw;
		margin-bottom: 10vw;
		width: 40vw;
		font-size: 2.5vw;
	}
}